<div class="container bg-greyWow opacity08">
    <div class="row whiteColor text-white">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 mx-auto text-center form p-4">
            {{#if isUpload }}
            <span>Upload Success !!!! </span>
            {{/if }}
            <div class="px-2">
                <div class="row justify-content-md-center marginLRowLeftRight0">
                    <h1>GESTION HISTORIQUE</h1>
                </div>
                <form action="/import" method="post" class="justify-content-center" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-6">
                            <table id="tab_Liste_fichier" class="table table-striped table-bordered helvetica" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Fichier</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each tabFiles}}
                                <tr>
                                    <td><a href="{{ path }}" download><span>{{ name }}</span></a></td>
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-4">
                            <input type="file" accept=".lua" class="form-control-file" id="monoliteFile" name="monoliteFile" required>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary btn">Importer</button>
                        </div>
                    </div>
                </form>
                <div class="row justify-content-md-center marginLRowLeftRight0 paddingTopBot">
                    <h1>GESTION JOUEUR</h1>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row justify-content-md-center marginLRowLeftRight0 paddingTopBot">
                            <h2>Liste Joueur actif</h2>
                        </div>
                        <table id="tab_Liste_personnage" class="table table-striped table-bordered helvetica" style="width:100%">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Activité</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each listePersonnageActif}}
                            <tr data-id="{{ id }}" data-nom="{{ nom }}">
                                <td class="ft18 bold" style="color:{{Classe.couleur}}" >{{nom}}</td>
                                <td><i class="far fa-check-square cursorPointer supPersonnage colorGreen"></i></td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <div class="row justify-content-md-center marginLRowLeftRight0 paddingTopBot">
                            <h2>Liste Joueur inactif</h2>
                        </div>
                        <table id="tab_Liste_suppression_personnage" class="table table-striped table-bordered helvetica" style="width:100%">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Activité</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each listePersonnageInactif}}
                            <tr data-id="{{ id }}" data-nom="{{ nom }}">
                                <td class="ft18 bold" style="color:{{Classe.couleur}}" >{{nom}}</td>
                                <td><i class="far fa-window-close cursorPointer addPersonnage colorRed"></i></td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#tab_Liste_fichier').DataTable({
            searching: false,
            paging:false,
            bInfo: false,
        });
        $('#tab_Liste_suppression_personnage').DataTable({
            "scrollY":        "490px",
            "scrollCollapse": true,
            "paging":         false,
        });
        $('#tab_Liste_personnage').DataTable({
            "scrollY":        "490px",
            "scrollCollapse": true,
            "paging":         false,
        });
    } );
</script>