<div class="row marginLRowLeftRight">
    <div class="col-md-6 whiteColor paddingTopBot">
        <table id="tab_Liste_Dpk" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {{#each listeDKP}}
                <tr>
                    <td>{{nom}}</td>
                    <td>{{dkp}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col-md-6 whiteColor paddingTopBot">
         <table id="tab_Historique" class="table table-striped table-bordered" style="width:100%">

             <thead>
             <tr>
                 <th>Joueur</th>
                 <th>Action</th>
                 <th>Date</th>
             </tr>
             </thead>
             <tbody>
                {{#each listeHistorique}}
                <tr>
                    <td>{{Personnage.nom}}</td>
                    <td>{{ historiqueString dkp_lost  }} pour <a href="https://en.classic.wowhead.com/item={{id_wowhead}}" target="_blank" data-wowhead="item={{id_wowhead}}"></a></td>
                    <td>le {{ timestampToDate date_loot }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function() {
    $('#tab_Liste_Dpk').DataTable({
        "order": [1, 'desc']
    });
     $('#tab_Historique').DataTable({
         "scrollY":        "490px",
         "scrollCollapse": true,
         "paging":         false,
         "columnDefs": [
             { "width": "50%", "targets": 1 }
         ],
         "sorting": false
     });
} );
</script>