<div class="whiteColor paddingTopBot">
    <ul class="nav nav-pills mb-3" id="pills-tab-raid" role="tablist">
        {{#each listeAllItemByRaid}}
        <li class="nav-item">
            <a class="nav-link" id="{{ enleverSpecialChar nom }}" data-toggle="pill" href="#pills-{{ enleverSpecialChar nom  }}"
                role="tab" aria-controls="pills-{{ enleverSpecialChar nom  }}" aria-selected="true">{{ nom }}</a>
        </li>
        {{/each}}
    </ul>
    <div class="tab-content" id="pills-tabContent">
        {{#each listeAllItemByRaid}}
        <div class="tab-pane fade" id="pills-{{ enleverSpecialChar nom  }}" role="tabpanel"
            aria-labelledby="pills-{{ enleverSpecialChar nom  }}-tab">
            <ul class="nav nav-pills mb-3" id="pills-tab-boss" role="tablist">
                {{#each Bosses}}
                <li class="nav-item">
                    <a class="nav-link" id="{{ enleverSpecialChar nom  }}" data-toggle="pill"
                        href="#pills-{{ enleverSpecialChar nom  }}" role="tab" aria-controls="pills-{{ enleverSpecialChar nom  }}"
                        aria-selected="true">{{nom}}</a>
                </li>
                {{/each}}
            </ul>
            <div class="tab-content" id="pills-tabContent">
                {{#each Bosses}}
                <div class="tab-pane fade" id="pills-{{ enleverSpecialChar nom  }}" role="tabpanel"
                    aria-labelledby="pills-{{ enleverSpecialChar nom  }}-tab">
                    <table class="table table-bordered">
                    <tbody>
                    {{#each Items}}
                        <tr>
                            <td><a href="https://fr.classic.wowhead.com/item={{id_wowhead}}" target="_blank" data-wowhead="item={{id_wowhead}}"></a></td>
                        </tr>
                    {{/each}}
                    </tbody>
                    </table>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
</div>