<div class="whiteColor paddingTopBot marginLRowLeftRight0 bg-greyWow opacity08">
    <ul class="nav nav-pills grey mb-3 marginLRowLeftRight" id="pills-tab-raid" role="tablist">
        {{#each listeAllItemByRaid}}
        <li class="nav-item">
            <a class="nav-link lH20" id="{{ removeSpecialChar nom }}" data-toggle="pill" href="#pills-{{ removeSpecialChar nom  }}"
                role="tab" aria-controls="pills-{{ removeSpecialChar nom  }}" aria-selected="true">{{ nom }}</a>
        </li>
        {{/each}}
    </ul>
    <div class="tab-content marginLRowLeftRight" id="pills-tabContent">
        {{#each listeAllItemByRaid}}
        <div class="tab-pane fade marginLRowLeftRight" id="pills-{{ removeSpecialChar nom  }}" role="tabpanel"
            aria-labelledby="pills-{{ removeSpecialChar nom  }}-tab">
            <ul class="nav nav-pills mb-3 marginLRowLeftRight lH18" id="pills-tab-boss" role="tablist">
                {{#each Bosses}}
                <li class="nav-item">
                    <a class="nav-link boss" id="{{ removeSpecialChar nom  }}" data-toggle="pill"
                        href="#pills-{{ removeSpecialChar nom  }}" role="tab" aria-controls="pills-{{ removeSpecialChar nom  }}"
                        aria-selected="true">{{nom}}</a>
                </li>
                {{/each}}
            </ul>
            <div class="tab-content marginLRowLeftRight" id="pills-tabContent">
                {{#each Bosses}}
                <div class="tab-pane fade" id="pills-{{ removeSpecialChar nom  }}" role="tabpanel"
                    aria-labelledby="pills-{{ removeSpecialChar nom  }}-tab">
                    <table id="table-{{ removeSpecialChar nom  }}" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Prix</th>
                            <th>Classe Prio</th>
                        </tr>
                        </thead>
                    <tbody>
                    {{#each Items}}
                        <tr data-id="{{id}}">
                            <td><a class="helvetica" href="https://en.classic.wowhead.com/item={{id_wowhead}}" target="_blank" data-wowhead="item={{id_wowhead}}"></a></td>
                            <td data-id="{{id}}">
                                        <span class="prix">{{ prix }}</span>
                                        {{#if ../../../isModifiable }}
                                        <input type="text" class="form-control w50 none" value="{{ prix }}">
                                        <i class="far fa-edit edit cursorPointer"></i>
                                        {{/if }}
                            </td>
                            <td>
                                {{#each Classes}}
                                    <img src="/img/{{icon}}">
                                {{/each}}
                                {{#if ../../../isModifiable }}
                                    <i class="far fa-edit classe cursorPointer"></i>
                                    <select id="multiSelect-{{ id }}" classe="selectClasse" style="display: none;" multiple="multiple">
                                    </select>
                                {{/if }}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                    </table>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script>
    $(document).ready(function() {

// Redimmensionne le tableau a chaque changement d'onglet
$('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
    $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
} );

(function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); 
        // Création des tables d'items
        {{#each listeAllItemByRaid}}
            {{#each Bosses}}
                $("#table-{{ removeSpecialChar nom  }}").DataTable({
                    "scrollY":        "400px",
                    "scrollCollapse": true,
                    "paging": false,
                    "searching": false,
                    "ordering": false
                });
         {{/each}}
        {{/each}}
    });

</script>